.launcher {
    background-color: #232323;
    border-radius: 0.4rem;
    margin: 1rem;
    padding: 0.8rem;
    line-height: 1.2rem;
}

.searchBg { /* Search bar */
    padding: 3rem 3rem 3rem 0;
    background-position: center;
    background-size: cover;
    border-radius: 0.4rem;
    filter: blur(3px);
    min-height: 2rem;
    transition-duration: 0.5s;
}

.launcher entry:focus ~ .searchBg {
    background: black;
    border: 5px solid black;
}

.launcher entry {
    background: transparent;
    color: #fff;
    outline: none;
    padding-left: 2rem;
    outline-offset: -3px;
    outline: 2px solid #ffffff1c;
    font-family: 'Hammersmith One';
    font-size: 1.3rem;
}

.launcher overlay { padding-bottom: 1rem; }

.launcher button {
    padding: 0.5rem;
    border: 1px solid #5f5f5f;
}

.launcher button:focus {
    background-color: #3e88ff;
    box-shadow: 0 0 5px 3px #3e88ff;
    border: 1px solid #3e88ff;
    transform: translateY(-2px) scale(1.01);
}

.launcher button image {
    -gtk-icon-size: 2rem;
    margin-right: 0.5rem;
}

.launcher button label.name {
    color: #fff;
    font-weight: bold;
}
.launcher button label.description { color: #fff; }
